# MinIO Volumes Configuration
MINIO_VOLUMES="{{ minio_volumes }}"

# MinIO Console Address
MINIO_OPTS="--console-address {{ minio_console_address }}"

# MinIO Root User and Password
MINIO_ROOT_USER={{ minio_root_user }}
MINIO_ROOT_PASSWORD={{ minio_root_password }}

{% if use_tls %}
# MinIO TLS Configuration
MINIO_TLS_CERT=/home/{{ minio_user }}/.minio/certs/public.crt
MINIO_TLS_KEY=/home/{{ minio_user }}/.minio/certs/private.key
{% endif %}

